# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Teams

# Head Maintainers

# MrCat15352

/**/* @MrCat15352
/**/*.dm @MrCat15352
/**/*.ogg @MrCat15352
/**/*.mp3 @MrCat15352
/**/*.dmi @MrCat15352

# Code Maintainers

# MrCat15352

/strings/ @MrCat15352
/tgui/ @MrCat15352
/sound/ @MrCat15352
/code/ @MrCat15352
/mod_celadon/ @MrCat15352
/mod_celadon/_storage_sounds/ @MrCat15352
/**/*.dm @MrCat15352
/**/*.ogg @MrCat15352
/**/*.mp3 @MrCat15352

# Map Maintainers

# MrCat15352

/_maps/_mod_celadon/ @MrCat15352
/**/*.dmm @MrCat15352
/**/*.json @MrCat15352


# Sprite Maintainers

# MrCat15352

/mod_celadon/_storage_icons/ @MrCat15352
/**/*.dmi @MrCat15352

# MAINTAINERS

# MrCat15352

/tools/ @MrCat15352
/.github/ @MrCat15352
/SQL/ @MrCat15352
/bin/ @MrCat15352
/html/ @MrCat15352
/strings/ @MrCat15352
/tgui/ @MrCat15352
/code/modules/unit_tests/icons/ @MrCat15352


# CONTRIBUTORS
